.post {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background: transparent;
  border: 0;
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  border-radius: 8px;
  transition: 2s border;
  margin-bottom: 2rem;

  &:hover {
    border: 1px solid var(--HIGHLIGHT);
  }

  + .post {
    padding: 2rem 1rem;
  }

  h2 {
    margin-top: 1.75rem;
    font-weight: bold;
    color: var(--HEADING);
    text-align: justify;
    letter-spacing: -0.5px;
    font-family: 'Inter';
  }

  p {
    margin: 1rem 0rem;
    font-family: 'Inter';
    font-size: 1.125rem;
    text-align: justify;
    line-height: 22px;
    font-weight: normal;
    max-width: 80%;
  }
}


